@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply font-outfit font-light leading-7;
}

main {
   @apply min-h-90 lg:text-lg;
}

img {
   @apply w-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   @apply font-bigShoulders font-black;
}

.wrapper {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
}

@media screen and (min-width: 1024px) {
   .wrapper {
      width: 80%;
   }
}

.leaflet-container {
   width: 100%;
   height: 100vh;
}

.leaflet-tile-pane {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

.leaflet-div-icon {
   background-color: transparent;
   border: transparent;
   transform: translate3d(631px, 312px, 0px) scale(0.75) !important;
}

.leaflet-popup-content {
   font-family: 'Outfit';
   font-size: 16px;
   text-align: center;
}

.btn {
   @apply border-0 uppercase font-bigShoulders font-black tracking-widest text-xl flex items-stretch text-white bg-themeDarker hover:bg-themeOrange hover:text-themeDarker transition-all ease-in-out;
}

.btn .icon {
   @apply bg-themeOrange w-14 flex items-center justify-center transition-all ease-in-out;
}

.btn:hover .icon {
   @apply bg-themeDarker w-14 flex items-center justify-center;
}

.social {
   @apply flex gap-6 md:col-span-2 md:justify-end;
}

.social a:hover svg {
   @apply text-themeOrange transition-colors ease-in-out;
}

.social-alt a:hover svg {
   @apply text-white transition-colors ease-in-out;
}
